#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;

  > form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > input {
      outline: none;
      border: none;
      padding: 11px;
      border-radius: 4px;
      width: 90%;
      border: 3px solid transparent;
      transition: 300ms ease-in-out all;

      &[error] {
        border: 3px solid red;
        transition: 300ms ease-in-out all;
      }
    }

    & > div {
      margin-left: 1rem;
      > button {
        outline: none;
        border: none;
        border-radius: 4px;
        font-size: 17px;
        padding: 11px;
        background-color: #ff9a3c;
        color: black;
        cursor: pointer;
        transition: 300ms ease-in-out all;
        &:hover {
          background-color: darken($color: #ff9a3c, $amount: 10);
          transition: 300ms ease-in-out all;
        }
      }
    }
  }
}

.detailed__mobile {
  display: none;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.results__wrapper {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;

  & > h2 {
    color: #fff;
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: 300ms ease-in-out all;

    &__container {
      transition: 300ms ease-in-out all;
      max-height: 520px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      > h2 {
        color: #f6e4ad;
      }

      .active {
        background-color: #d8d7d7;
        color: black;
      }
      &__item {
        background-color: #393e46;
        padding: 15px;
        border-radius: 4px;
        font-weight: bold;
        color: #ff9a3c;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: 300ms ease-in-out all;
        z-index: 5;
        &:hover {
          background-color: lighten($color: #393e46, $amount: 10);
          transition: 300ms ease-in-out all;
        }
      }
    }
  }
  &__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1.2rem;
    padding: 2rem 0;
    flex: 2;
    background-color: #d8d7d7;
    border-radius: 4px;

    &__image {
      height: 200px;
      // width: 80%;

      > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    &__info {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 10px;

      span:nth-child(1) {
        font-weight: bold;
        margin-right: 0.5rem;
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
      }

      &__element {
        padding: 5px 0;
        border-bottom: 1px solid black;
      }
    }
  }
}

// Responsive

@media screen and (max-width: 560px) {
  #search {
    button {
      display: none;
    }

    form {
      justify-content: center;
      > div {
        display: none;
      }

      > input {
        width: 100%;
      }
    }
  }

  .results__wrapper {
    width: 95%;
    margin-top: 1rem;

    & > h2 {
      text-align: center;
      font-size: 17px;
    }

    &__details {
      display: none;
    }
  }

  .detailed__mobile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    background-color: #dbd8e3;
    padding: 10px;
    border-radius: 4px;
  }

  .results__wrapper__details__info {
    padding-top: 0;
  }

  .results__wrapper__details__image {
    height: auto;
  }
}
